
*{
    padding: 0px;
    margin: 0px;
}
 /* sam styling */
.hero-header{
    font-size: 60px;
    color: #aa4008;
}
.hero-sub-header{
    font-size: large;
    font-weight: 200px;
}
.sub-header{
    font-size: large;
    font-weight: lighter;
    text-align: center;
    color: #94b405;
}
.header{
    font-size: 50px;
    text-align: center;
    color: #aa4008;
}

.sam-card{
    display: flex;
    justify-content: space-between;
    margin: 1% 13%;
}

/* listing */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* end listing */

/* top view */
.main-top{
    background:  #796829;
}
/* end of top view */

/* navbar */
nav{
    background: #c1dce0;
    display: flex;
    justify-content: space-between;
    padding: 10px 10% 5px ;
    position: static;
    align-items: flex-end;
}
.page-scroll{
    color: #796829;
    font-size: small;
    font-weight: 300px;
}
.page-scroll:hover{
    color: #94b405;
}
.cart{
    cursor: pointer;
}
.faf{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.page{
    display: flex;
    gap: 2rem;
}

/* hero page */
.hero{
    display: flex;
    justify-content: space-between;
    padding: 5% 18% 6px 10%;
}
.hero1{
    padding-top: 8%;
}
.hero-img{
    transform: rotate(-25deg);
}
.coll1{
    padding-bottom: 7px;
}
.coll2{
    padding-bottom: 9px;
}
.button{
    display: flex;
    gap: 1rem;
    padding-top: 15px;
    cursor: pointer;
}


.but{
    color: #c8dded;
    background-color: #334114;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    padding-top: 6px;
    box-shadow: #796829 3px 5px;
}

.but:hover{
    color: #334114;
    background-color: #c1dce0;
    box-shadow: #94b405 2px 3px;
}

/* ------featured product ------*/
.featured{
    border-radius: 30px;
    margin: 100px 5px;
    background-color: #c1dce0;
    padding-bottom: 30px;
}
.featured1{
    padding-bottom: 50px;
    padding-top: 20px;
}

.prod2{
    background-color: rgba(245, 239, 239,0.65);
    margin: 5px; 
    border-radius: 15px;  
}
.pro{
    padding: 11px;
    border-radius: 7px;
}
.dis{
    padding: 4px 12px;
}
/* new arrival */
.arrival1{
    padding-bottom: 50px;
}
.wish{
    margin-left: 80%;
    cursor: pointer;
}
.dis h4{
    padding-top: 15px;
}
.dis h5{
    padding-top: 5px;
}
.star{
    padding-top: 5px;
}

/* top rated */
.top{
    background-color: #c1dce0;
    padding: 40px 0;
}
.top1{
    padding-bottom: 40px;
}

/* footer */
.footer{
    background-color: #796829;
    padding-top: 30px;
}
.footer1{
    display: flex;
    gap: 8rem;
    padding: 2% 10%;
}
.lins{
    text-align: center;
}
.fsell{
    padding-bottom: 10px;
}
.con{
    padding-bottom: 10px;
}
.follow{
    padding-top: 10px;
}
.foot2{
    padding-top: 5%;
}
.foot-link{
    padding-top: 4px;
}
.foot-link1{
    padding-top: 6%;
}
.foot-link1 a{
    color: black;
    font-weight: lighter;
}

